<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ui구성">

        //첫번째 페이지
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".second" android:label="second activity"/>
        <activity android:name=".worldcup_ko" android:label="worldcup_ko"/>
        <activity android:name=".worldcup_jp" android:label="worldcup_jp"/>
        <activity android:name=".worldcup_ch" android:label="worldcup_ch"/>
        <activity android:name=".worldcup_snack" android:label="worldcup_snack"/>
        <activity android:name=".worldcup_west" android:label="worldcup_west"/>
        <activity android:name=".worldcup_fast" android:label="worldcup_fast"/>
        <activity android:name=".worldcup_world" android:label="worldcup_world"/>
        <activity android:name=".worldcup_dessert" android:label="worldcup_dessert"/>
        <activity android:name=".SelectFood" android:label="selectfood"/>
        <activity android:name=".selectfinal" android:label="final"/>
        <activity android:name=".end" android:label="end"/>
    </application>

</manifest>